/* header樣式 */

.header {
  background: rgb(94, 68, 19);
  border: 1px solid navy;
  color: rgb(255, 255, 255);
  font-size: larger;
  height: 10vh;
}

/* menu樣式 */

.menu {
  display: flex;
  padding: 0px;
  margin: 0px;
}
ul {
  float: bottom;
  display: inline;
  /* min-width: 800px; */
  padding-top: 0px;
  margin-top: 0px;
}
li {
  border: 1px solid rgb(255, 255, 255);
  background: rgb(218, 180, 125);
  height: 40px;
  width: 25%;
  list-style-type: none;
  font-size: 30px;
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
  display: block;
}
li:hover {
  background: rgb(207, 149, 68);
}
