/* 切換頁面中間區塊定義高度 */
.bodyWidth {
  position: relative;
  width: 1200px;
  min-height: calc(100vh - 10vh - 120px);
  margin: 0 auto;
  background-color: rgb(247, 239, 234);
  width: 100%;
}

.main {
  width: 500px;
  height: 500px;
  background: none;
  color: black;
}

/* Book樣式 */
.divWrapper {
  padding: 0px;
  margin: 0px;
}
.bookWrapper {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  .book {
    margin: 15px;
    height: 220px;
    width: 20%;
    img {
      object-fit: fill;
      height: 200px;
    }
  }
}

/* 表格樣式 */

.tableFull {
  /* width: 90%; */
  /* border: 1px solid rgb(133, 112, 112); */
}
// .tableOut {
//   position: relative;
// }
.table {
  width: 90%;

  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  background: rgb(238, 172, 87);
}
/* 有scrollbar時+的樣式 */
.table-shadow {
  box-shadow: 2px 0px 0px #eeac57, -2px 0px 0px #eeac57;
}

.cell {
  text-align: center;
  line-height: 50px;
  width: 33%;
  height: 50px;
  border-bottom: none;
}
.tableContent {
  margin-top: 30px;
  width: 90%;
  max-height: 200px;
  overflow: auto;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  background: rgb(250, 230, 202);
  border-top: none;
  border-bottom: none;

  .cellContents {
    width: 150px;
    text-align: center;
    line-height: 50px;
    width: 33.33%;
    height: 50px;
    border-bottom: 1px solid rgba(133, 112, 112, 0.6);
  }
}
